.navbar {
    padding: 8px 0;
}

@media (min-width: 800px) {
    .navbar {
        display: flex;
        justify-content: space-around;
        padding: 0;
        border-radius: 8px;
        width: 400px;
    }
}