.portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
}

.portrait--image {
    height: 48vw;
    max-height: 524px;
}

.portrait--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait--container > h1{
    margin: 16px 0px;
    max-width: 360px;
    color: var(--complementary-1-color);
    font-family: var(--Montserrat-Black-font);
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
}

.portrait--container > p {
    margin: 0 20px;
    max-width: 320px;
    color: var(--white);
    font-family: var(--Montserrat-Medium-font);
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
}

.portrait--container > .portrait--button {
    margin: 40px 0;
}

@media (min-width: 800px) {
    .portrait {
        display: grid;
        grid-template-columns: auto minmax(400px, 660px) auto;
        justify-items: center;
        align-items: center;
        padding-bottom: 100px;
    }
    
    .portrait--image {
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        justify-self: end;
        align-self: start;
        height: 524px;
    }
    
    .portrait--container {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        width: 50vw;
        max-width: 660px;
        align-self: center;
        margin-top: 100px;
    }

    .portrait--container > h1{
        max-width: 660px;
        font-size: 3.6rem;
        line-height: 4.4rem;
    }

    .portrait--container > p {
        max-width: 500px;
        font-size: 2rem;
        line-height: 2.4rem;
    }
}
