.application-areas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    width: 100%;
    max-width: 1400px;
    z-index: 1;
}

.application-areas > p {
    padding: 24px 0;
    width: 75vw;
    max-width: 860px;
    color: var(--white);
    font-family: var(--Montserrat-Light-font);
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
}

.application-areas--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (min-width: 800px) {
    .application-areas > p {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}