.carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 52px;
    width: 100%;
    max-width: 1400px;
    z-index: 1;
}

.carrousel > .slides {
    display: grid;
    grid-template-columns: 60px auto 60px;
    align-items: center;
    padding: 52px 0 60px;
    width: 100%;
    cursor: pointer;
}

.carrousel-left-arrow {
    justify-self: start;
}

.carrousel-right-arrow {
    justify-self: end;
}

.slick-list > .slick-track > .slick-slide {
    display: flex;
    justify-content: center;
}

@media (min-width: 800px) {
    .carrousel > .slides {
        grid-template-columns: 80px auto 80px;
    }
}