.price-pack--container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 12px;
    margin: 0 20px 60px;
}

.basic-pack {
    background-color: var(--complementary-8-color);
    box-shadow: 10px 10px var(--complementary-1-color);
}

.normal-pack {
    background-color: var(--complementary-5-color);
    box-shadow: 10px 10px var(--primary-color);
}

.plus-pack {
    background-color: var(--complementary-6-color);
    box-shadow: 10px 10px var(--primary-color);
}

.price-pack--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    cursor: pointer;
}

.price-pack--bottom-border {
    border-bottom: 2px solid var(--complementary-1-color);
}

.price-pack--header > h3 {
    font-family: var(--Montserrat-Black-font);
    font-size: 2rem;
}

.price-pack--header > h3 > span{
    color: var(--complementary-1-color);
}

.price-pack--arrow {
    color: var(--complementary-1-color);
    font-size: 2.6rem;
    margin: 4px 0;
    cursor: pointer;
}

.basic-pack > .price-pack--header > h3 {
    color: var(--complementary-1-color);
}

.normal-pack > .price-pack--header > h3 {
    color: var(--white);
}

.plus-pack > .price-pack--header > h3 {
    color: var(--white);
}

.price-pack--content {
    padding: 24px 24px 40px;
}

.price-pack--content > p {
    margin-bottom: 32px;
    color: var(--white);
    font-family: var(--Montserrat-Light-font);
    font-size: 1.2rem;
    text-align: justify;
}

.price-pack--list {
    display: grid;
    row-gap: 16px;
    list-style: none;
}

.price-pack--list > li {
    display: flex;
    color: var(--white);
    font-family: var(--Montserrat-Light-font);
    font-size: 1.2rem;
}

.price-pack--dot {
    margin-right: 12px;
    min-width: 16px;
    min-height: 16px;
    color: var(--complementary-1-color);
}

.price-pack--price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 12px;
    font-family: var(--Montserrat-Bold-font);
    font-size: 2rem;
}

.basic-pack > .price-pack--price {
    background-color: var(--primary-color);
    color: var(--white);
}

.normal-pack > .price-pack--price {
    background-color: var(--complementary-1-color);
    color: var(--black);
}

.plus-pack > .price-pack--price {
    background-color: var(--complementary-1-color);
    color: var(--black);
}

@media (min-width: 800px) {
    .price-pack--container {
        width: 340px;
    }

    .price-pack--header {
        padding: 28px 0;
        cursor: auto;
    }

    .price-pack--content {
        padding: 30px 30px 40px;
    }
}