.email {
    display: grid;
    justify-items: center;
    padding: 0 20px;
    width: 100%;
    max-width: 400px;
}

.email-form--input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.email-form--input-container > input {
    margin-bottom: 8px;
    padding: 4px 16px;
    height: 28px;
    width: 100%;
    border: none;
    border-radius: 50px;
    outline: none;
}

.email-form--input-container > input::placeholder {
    text-align: center;
    font-size: 1.4rem;
}

.email-form--input-container > input:focus {
    border: 2px solid var(--primary-color);
}

.email-form--input-container > textarea {
    width: 100%;
    margin-bottom: 28px;
    padding: 8px 16px;
    height: 116px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    text-align: justify;
}

.email-form--input-container > textarea:focus {
    border: 2px solid var(--primary-color);
}

.submit {
    position: relative;
    align-self: end;
}

.submit:disabled {
    pointer-events: none;
    background-color: var(--primary-opacity-7);
    color: var(--mustard-opacity-7);
}