.services-circuit {
    position: relative;
}

.services-circuit > div{
    background-color: var(--complementary-1-color);
}

.services-circuit--vertical {
    width: 2px;
}

.services-circuit--horizontal {
    position: absolute;
    top: 0;
    height: 2px;
    width: 80px;
}

.services-circuit--circle {
    position: absolute;
    top: -4px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-left: 80px;
}

.services-circuit--vertical-1 {
    position: absolute;
    right: 0;
    height: 0;
    animation: vertical-1 0.2s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
}

.services-circuit--horizontal-1 {
    position: absolute;
    top: 20px;
    right: 0;
    width: 0;
    animation: horizontal-1 0.6s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.services-circuit--vertical-2 {
    position: absolute;
    top: 20px;
    height: 0;
    animation: vertical-2 0.8s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.services-circuit--horizontal-2 {
    width: 0;
    animation: horizontal-2 0.6s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
}

.services-circuit--circle-1 {
    animation: circle 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.services-circuit--horizontal-3 {
    width: 0;
    animation: horizontal-2 0.6s;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
}

.services-circuit--circle-2 {
    animation: circle 2s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.services-circuit--horizontal-4 {
    width: 0;
    animation: horizontal-2 0.6s;
    animation-delay: 2.6s;
    animation-fill-mode: forwards;
}

.services-circuit--circle-3 {
    animation: circle 2s;
    animation-delay: 3.1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes vertical-1 {
    to {
        height: 20px;
    }
}

@keyframes horizontal-1 {
    to {
        width: 100%;
    }
}

@keyframes vertical-2 {
    to {
        height: 100%;
    }
}

@keyframes horizontal-2 {
    to {
        width: 80px;
    }
}

@keyframes circle {
    to {
        opacity: 1;
    }
}

@media (min-width: 800px) {
    .services-circuit {
        grid-template-rows: 80px 124px 196px 216px;
    }

    .services-circuit--horizontal-2 {
        width: 0;
        animation: horizontal-2 0.6s;
        animation-delay: 2.2s;
        animation-fill-mode: forwards;
    }
    
    .services-circuit--horizontal-3 {
        width: 0;
        animation: horizontal-3 0.6s;
        animation-delay: 2.4s;
        animation-fill-mode: forwards;
    }
    
    .services-circuit--horizontal-4 {
        width: 0;
        animation: horizontal-4 0.6s;
        animation-delay: 2.6s;
        animation-fill-mode: forwards;
    }

    .services-circuit--circle-1 {
        margin-left: 80px;
    }

    .services-circuit--circle-2 {
        margin-left: 140px;
    }

    .services-circuit--circle-3 {
        margin-left: 200px;
    }

    @keyframes horizontal-2 {
        to {
            width: 80px;
        }
    }
    
    @keyframes horizontal-3 {
        to {
            width: 140px;
        }
    }
    
    @keyframes horizontal-4 {
        to {
            width: 200px;
        }
    }
}