.circula-red-button {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    border-radius: 100px;
    color: var(--white);
    cursor: pointer;
    font-size: 4rem;
}

.circula-red-button--left {
    box-shadow: 5px -5px var(--complementary-6-color);
    color: var(--white);
}

.circula-red-button--right {
    box-shadow: -5px -5px var(--complementary-6-color);
    color: var(--white);
}

@media (min-width: 800px) {
    .circula-red-button {
        font-size: 5rem;
    }
}