.small-purple-button {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    padding: 12px 12px;
    max-width: 280px;
    background-color: var(--complementary-6-color);
    border: none;
    border-radius: 100px;
    box-shadow: 5px -5px var(--complementary-10-color);
    color: var(--white);
    cursor: pointer;
    font-family: var(--Montserrat-Bold-font);
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    text-decoration: none;
    outline: none;
}