.small-red-button {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    padding: 12px 12px;
    max-width: 280px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 100px;
    box-shadow: 5px -5px var(--secundary-color);
    color: var(--white);
    font-family: var(--Montserrat-Bold-font);
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 800px) {
    .small-red-button {
        font-size: 1.8rem;
        line-height: 2rem;
    }
}
